@keyframes opac {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes scaler {
    0%{
        scale:1
    }
    50%{
        scale:0.9
    }
    100%{
        scale:1
    }
    
}
@keyframes moveleft {
    0%{
        opacity: 1;
        margin-left: 0%;
    }
    50%{
        opacity: 0;
        margin-left: -100%;
    }
    100%{
        opacity: 1;
        margin-left: 0%;
    }
}
@keyframes mover {
    0%{
        /* margin-left:-30%; */
        width:0%;
        /* opacity:1; */
    }
    50%{
        width:150%;
        /* margin-left:110%; */
    }
    100%{
        width:0%;
        /* opacity:0; */
    }
    
}
.moveLeft{
   animation-name: moveleft;
   animation-duration: 1s;
}

.opac_anima{
    animation-name: opac;
    animation-duration: 1s;
 }
 .projects_menu_animated{
    color:var(--primary-color) !important;
    border-bottom: 5px solid var(--primary-color);
    font-family: "josefin_bold";
    /* font-size:22px !important; */
    margin-top:-1%;
    transition: 0.5s;
 }


 .load_opac{
    animation-name: "opac";
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }
 