.footer_div{
    height:50vh;
    width: 100%;
    /* background:green; */
    /* display: flex;
    flex-direction: column; */
}
.footer_div1{
    height:100%;
    width:100%;
    background:yellow;
}
.footer_contact{
height: 18%;
background:#763A12;
}
.footer_contact > p{
font-size:30px;
color:white;
/* background:red; */
padding-right:5%;
letter-spacing: 1px;
word-spacing: 3px;
}
.footer_contact > a{
    width:12%;
    margin:0;
    /* padding:0; */
    text-decoration: none;
    /* background:teal; */
}
.footer_button{
    color:var(--primary-color);
    font-size:20px;
    width:100%;
    font-family: "josefin_semi";
    border:2px solid var(--primary-color);
    background:none;
    padding:5%;

}
.footer_end{
    height: 82%;
    background:var(--primary-color);
}
.psa_footer{
    height:85%;
    /* background:green; */
}
.psa_footer1{
    height: 100%;
    width:40%;
    flex-direction: column;
    /* background:wheat; */
}
.logo_container{
    height: 40%;
    width:80%;
    justify-content: flex-start;
    align-items: flex-end;
    /* background:blue; */
    padding-bottom:2%;
    margin-top:-3%;
}
.psa_footer1 > p{
    font-size:15px;
    padding-left:10%;
    max-width:80%;
    align-self: flex-start;
    line-height:1.2;
    /* background:yellow; */
    margin-top:5px;
    color:#434343;
}
.psa_footer1 a{
    text-decoration: none;
    color:#434343;
    font-size:16px;
    color:white;
}
.psa_footer1 span{
    color:white;
    font-size: 21px;
}
.psa_footer2{
    height: 100%;
    width:40%;
    /* background:blue; */
}
.footer2_container{
    margin-top:-5%;
    /* background:red; */
}
.footer2_container > a{
    text-decoration: none;
    color:#434343;

}
.footer2_container > a > p{
    font-size:18px;
    margin: 0;
    margin-top:5%;
    letter-spacing: 1px;
    text-decoration: none;
    /* background: green; */

}
.footer2_container >p:nth-child(1){
    font-family: "josefin_bold";
    color:#434343;
    padding-bottom: 5%;
    font-size: 24px;
    margin:0;
    /* background:teal */

}
.psa_footer3{
    height: 100%;
    width:40%;
    /* background:blueviolet; */
}
.footer3_container{
    height:65%;
    /* max-width:30%; */
    width:30%
    /* background:teal; */
}
.footer3_container > p{
    font-size:24px;
    margin: 0;
    margin-top:5%;
    letter-spacing: 1px;
    font-family: "josefin_bold";
    color:#434343;
    padding-bottom:5%;
}
.footer3_container img{
    height:20%;
    padding-left:2%;
    padding-right:2%;
    cursor: pointer;
    /* background:red; */
}
.developer_footer{
    height: 15%;
    /* background:saddlebrown; */
    justify-content: flex-start;
    border-top:1px solid #434343;
}
.developer_footer > p{
    font-size:16px;
    color:#434343;
    letter-spacing: 1px;
}
.PSA_credit{
align-self: flex-start;
/* background:red; */
padding-left:3%;
/* padding-right:45%; */
max-width:50%;
}
.dev_credit{
 
     /* background:red; */
     margin-left:40%;
   
}

@media (max-width:1616px){
    .footer_contact > p{
        font-size:27px;
    }
    .psa_footer1 > p{
        font-size:18px;
    }
    .psa_footer1 >p:nth-child(3){
        transform: translate(0%,-50%);
    }
    .footer2_container > p:nth-child(1){
        font-size: 28px;
        margin-top: 5%;
    }
    .footer2_container > a > p{
        font-size: 20px;
    }
    .footer3_container{
        width:60%;
    }
    .footer3_container > p{
        font-size:28px ;
        
    }
    .footer3_container > a > img{
        height:25%;
    }
    
    /* .developer_footer > p{
        font-size: 14px;
    } */
}
@media (max-width:1441px){
    .dev_credit{
        margin-left:30%;
    }
}
@media (max-width:1376px){
    .footer2_container > p:nth-child(1){
        margin-left:-5%;
        font-size: 26px;
    }
    .footer3_container > p:nth-child(1){
        margin-left:-5%;
        font-size: 26px;
    }
    .logo_container > svg{
    transform: translate(0%,-30%);
    }
    .footer3_container > a > img{
        height:23%;
        transform: translate(-40%,0%);
    }
    .developer_footer > p{
        font-size: 16px;
        max-width:50%;
    }
   .footer_contact > a{
    width:15%;
   }
}
@media (max-width:1201px){
    .dev_credit{
        margin-left:25%;
    }
}
@media (max-width:1271px){
    .footer_contact > p{
        font-size:24px;
    }
    .psa_footer1 > p{
        font-size: 16px;
        max-width:100%;
    }
    .footer2_container > p:nth-child(1){
        font-size:24px;
    }
    .footer3_container > p:nth-child(1){
        font-size:24px;
    }
    .footer_contact > a{
        width:17%;
       }
}
@media (max-width:1128px){
    .dev_credit{
        margin-left:20%;
    }
    
}
@media (max-width:1052px){
    .developer_footer > p{
        font-size: 14px;
    }
    .dev_credit{
        margin-left:15%;
    }
    .psa_footer1{
        width:50%;
    }
    .psa_footer1 > p{
        max-width: 80%;
    }
    .psa_footer3{
        width:50%;
    }
    .psa_footer2{
        display: none;
    }
    .footer_contact > a{
        width:20%;
       }
       .footer_contact > p{
        font-size: 22px;
       }
}
@media (max-width:890px) {
    .developer_footer{
align-items: center;
justify-content: center;
    }
    .developer_footer > p{
        font-size: 15px;

    }
    .developer_footer > p:nth-child(2){
        display: none;
    }
    .footer_contact > a{
        width:22%;
       }
    
}