.projects_div,.projects_div1{
    min-height:88vh;
    width:100vw;
    /* background:green; */
}

.projects_div1{
/* background:maroon; */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.projects_part1{
    height:40vh;
    width:100vw;
    /* background:hotpink; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

    
    .show_peice{
height:60%;
width:100%;
/* background:teal; */
    }
    .show_image,.show_image1{
        height:100%;
        width:100%;
        background: url("../images/im04.png");
        background-size: cover;
        background-position: 0% 45%;
        background-repeat: no-repeat;
    }
    .show_image1{
          background: url("../images/im04.png");
    }
    .show_image > img{
        /* height:100%;
        width:100%; */
    }
   

    .image_wrapper{
        height:100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom,#EFBF3930  ,#763A1230);
    }
.image_wrapper_container{
    height:70%;
    padding-top:2%;
        width:100%;
        /* background:green; */
        display: flex;
        align-items: center;
        justify-content: center;

}
.image_wrapper_container > p{
    /* background:red; */
    padding:0% 55% 0% 2%;
    font-size:45px;
    font-family: "josefin_bold";
    color:var(--primary-color);
    letter-spacing: 1px;
   
}
.data_projects_initiated{
/* background:yellow; */
padding-left:15%;
padding-right:5%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.data_projects_initiated > p{
    /* margin:0; */
    /* background:yellow; */
    display: flex;
    align-items: center;
    justify-content:center;
    font-size:45px;
    margin:2px;
    color:white;
    margin-left:5px;
    font-family: "josefin_light";
    letter-spacing: 1px;
    word-spacing: 3px;
}
.p_data::first-letter{
    color:var(--primary-color);
    font-family: "josefin_bold";
}
.data_projects_initiated b{
    color:var(--primary-color);
    margin-right:5px;
    margin-left: 5px;
}

.data_projects_initiated > p:nth-child(2){
    margin-top:2%;
    font-size:15px;
}
.house_menu{
    height:40%;
    width:100%;
    /* background:red; */
    margin:0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.house_menu1{
    /* height:20%; */
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:green; */
}
.house_menu1 > p{
font-size:20px;
color:#434343;
margin-left:5%;
padding:1%;
letter-spacing: 1px;
cursor: pointer;
/* background:red; */

}
/* .house_menu1 p:nth-child(1){
    color:var(--primary-color);
    font-family: "josefin_bold";
    border-bottom:5px solid var(--primary-color);
} */
.projects_part2{
    min-height:48vh;
    width:100vw;
    /* background:aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* row-gap: 50px; */
    }
    .projects_part2_1{
        height:100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 60px 20px; 
        /* background:yellow; */
    }
.house_presentation{
    height:48vh;
    width:40vw;
   /* transform: translate(7.5%,0%); */
    /* background:green; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 5%; */
}
.image_house_presentation{
    height:90%;
    width:85%;
    border-radius: 6px;
    background:url("../images/Rectangle\ 52.png");
    box-shadow: 5px 5px 5px #0000003F;
    display: flex;
    align-items: flex-end;
}

.blurer_image_presentation{
    height:100%;
    width:100%;
    background:linear-gradient(to bottom,transparent 60%,#000000E2 );
    border-radius: inherit;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}
.data_image_presentation{
    height:35%;
    width:100%;
    /* background:green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(0%,35%);
    cursor: pointer;
    transition: 1s;
}
.data_image_presentation > p{
/* background:teal; */
margin:0px;
color:white;
font-family: "josefin_bold";
font-size: 36px;
letter-spacing: 1px;
}

.data_image_presentation > p:nth-child(2){
    font-size: 20px;
    padding-top:1%;
    font-family: "josefin";
}
.data_image_presentation > a{
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data_image_presentation > a >img{
    padding-top:4%;
    padding-bottom:3%;
    width:38%;
    /* background: olive; */
}

.data_image_presentation:hover{
transform: translate(0%,0%);

}

#count_pro1{
    background:red;
    padding:0% 5px 0% 5px;
}
@media (max-width:1616px){
    .image_wrapper_container > p{
        font-size: 50px;
        padding-left:5%;
        padding-right:50%;
    }
    .data_projects_initiated > p{
        font-size: 50px;
    }
    .data_projects_initiated > p:nth-child(2){
        font-size: 18px;
        margin-top:5%;
    }
    .data_projects_initiated > p{
        font-size:40px;
    }
    .house_menu1 > p{
        margin-left: 10%;
    }
    .projects_part2_1{
        gap: 40px 60px;
    }
    .house_presentation{
        height:50vh;
    }
    .image_house_presentation{
        width:90%;
    }
   
    .data_image_presentation > p{
        font-size: 33px;
    }
}
@media (max-width:1513px){
    .image_wrapper_container > p{
        padding-right:45%;
    }
    .house_menu1 > p{
        margin-left: 12%;
    }
    .house_presentation{
        height:52vh;
    }
    .image_house_presentation{
        width:100%;
    }
    .data_image_presentation > p{
        font-size: 37px;
        
    }
}
@media (max-width:1441px){
    .image_wrapper_container > p{
        font-size: 45px;
    }
    .data_projects_initiated > p{
        font-size: 45px;
    }
    .data_projects_initiated > p:nth-child(2){
        font-size: 15px;
        margin-top:5%;
    }
}
@media (max-width:1376px){
    .house_menu1{
        margin-left:-5%;
    }
    .house_menu1 > p{
        margin-left: 15%;
        font-size:22px;
    }
     .house_menu1 > p{
        margin-left: 12%;
    }
    .house_presentation{
        height:46vh;
    }
    .image_house_presentation{
        width:95%;
    }
    .data_image_presentation > p{
        font-size: 34px;
        margin-top:-1%;
    }
    .data_image_presentation > p:nth-child(2){
        font-size: 18px;
        margin-top:0%;
    }
}
@media (max-width:1271px){
    .house_presentation{
        height:48vh;
        width:43vw;
    }
    .image_house_presentation{
        width:100%;
    }
    .data_image_presentation > p{
        font-size: 35px;
        margin-top:-2%;
    }
    .data_image_presentation > p:nth-child(2){
        font-size: 19px;
        /* margin-top:0%; */
    }
}
@media (max-width:1187px){
    .house_menu1{
        margin-left:-5%;
    }
    .house_menu1 > p{
        margin-left: 15%;
    }
    .house_presentation{
        height:45vh;
        width:44vw;
    }
    .image_house_presentation{
        width:100%;
    }
    .data_image_presentation > p{
        font-size: 35px;
        margin-top:-2%;
    }
    .data_image_presentation > p:nth-child(2){
        font-size: 19px;
        /* margin-top:0%; */
    }
}
@media (max-width:1112px){
    .image_wrapper_container > p{
        padding-right:40%;
    }
    .image_wrapper_container > p{
        font-size: 43px;
    }
    .data_projects_initiated > p{
        font-size: 43px;
    }
    .data_projects_initiated > p:nth-child(2){
        font-size: 15px;
        margin-top:5%;
    }
    .house_presentation{
        height:45vh;
      
    }
 
    .data_image_presentation > p{
        font-size: 30px;
        margin-top:-1%;
    }
    .data_image_presentation > p:nth-child(2){
        font-size: 19px;
        /* margin-top:0%; */
    }
}
@media (max-width:1052px){
    .house_menu1{
        margin-left:-10%;
    }
    .house_menu1 > p{
        margin-left: 25%;
    }
    .data_projects_initiated > p:nth-child(2){
        font-size: 15px;
        margin-top:5%;
    }
    .house_presentation{
        height:43vh;
        width:45vw;
    }
 
    .data_image_presentation > p{
        font-size: 27px;
        margin-top:-1%;
    }
    .data_image_presentation > p:nth-child(2){
        font-size: 16px;
    }
}
@media (max-width:939px){
    .image_wrapper_container > p{
        padding-right:33%;
    }
    .image_wrapper_container > p{
        font-size: 42px;
    }
    .data_projects_initiated > p{
        font-size: 40px;
    }
    .data_projects_initiated > p:nth-child(2){
        font-size: 15px;
        margin-top:5%;
    }
}
@media (max-width:890px){
    .projects_part2_1{
        grid-template-columns: auto;
        gap:30px;
    }
    .house_presentation{
        height:48vh;
        width:60vw;
    }
 
    .data_image_presentation > p{
        font-size: 35px;
        margin-top:-1.5%;
    }
    .data_image_presentation > p:nth-child(2){
        font-size: 16px;
    }
}
@media (max-width:802px){
    .house_presentation{
        height:50vh;
        width:75vw;
    }
}