@import url("./stylesheets/normal.css");
@import url("./stylesheets/animations.css");
@import url("./stylesheets/fonts.css");
@import url("./stylesheets/Home.css");
@import url("./stylesheets/Services.css");

:root{
  --primary-color:#EFBF39;
  --primary-color2:#763A12;
  --contrast:white;
  --PSA_gray:434343;
}
*{
  font-family:"josefin"
}
body{
  overflow-x:hidden;
}

.cls-1{
  transition:2;
  stroke:#434343;stroke-width: 3px;}

#Layer_1{
height:23%;
}
.svg-arrow{fill:none;stroke:var(--primary-color);stroke-miterlimit:10;stroke-width:2px;}